html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: transparent !important;
}

#root {
    height: 100%;
    background: transparent;
}

.draggable-topbar {
    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;
}

.no-drag {
    -webkit-app-region: no-drag;
}